

        .AllCard {
            display: inline-flex;
        }

        .card {
            color: #41b2ac;
            width: 200px;
            height: 250px;
        }

        .card img {
            width: 150px;
        }

        .AllCard a {
            text-decoration: none;
        }


        #card1, #card2, #card3 {
            margin: 10px 20px;
            border-radius: 10px;
            box-shadow: rgb(187, 187, 187) 3px 3px 3px 3px;

        }


      
        /* ---------------------------分隔線(卡片hover)--------------------------- */

        .card:hover {
            margin: 0 20px;
            border-radius: 10px;
            box-shadow: rgb(187, 187, 187) 3px 3px 3px 3px;
            background-color: #41b2ac;
            color: white;

        }